.DS_Store
.idea
result

apps/nixos/docker/audiobookshelf/books
apps/nixos/docker/audiobookshelf/config
apps/nixos/docker/audiobookshelf/metadata
apps/nixos/docker/audiobookshelf/podcasts

apps/nixos/docker/authelia/authelia/db.sqlite3
apps/nixos/docker/authelia/authelia/notification.txt
apps/nixos/docker/authelia/authelia/.runtime-configuration.yml
apps/nixos/docker/authelia/authelia/.runtime-users_database.yml

apps/nixos/docker/microbin/data

apps/nixos/docker/resume/website

apps/nixos/docker/tymscar-website/website

apps/nixos/docker/uptimekuma/data

apps/nixos/docker/traefik/data/acme.json

apps/nixos/docker/atuin/config
apps/nixos/docker/atuin/database

apps/nixos/docker/n8n/data
apps/nixos/docker/n8n/postgres

apps/nixos/docker/grafana/data

apps/nixos/docker/librecounter/data
