#include ".colors/eighties"


! Disable scrollbar
URxvt.scrollBar: false

! Set urxvt as login shell
URxvt*loginShell: false

!! Set terminal padding
URxvt.internalBorder: 20

! Set cursor blinking
URxvt.cursorBlink: 1

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard, resize-font
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Size of cursor
Xcursor.size: 16

!Font settings
URxvt.font: xft:System San Francisco Display:size=13
!URxvt.font: xft:Inconsolata:size=12
URxvt.letterSpace: -6 
URxvt.resize-font.smaller:C-Down
URxvt.resize-font.bigger:C-Up

!URL Opener
URxvt.url-launcher:/usr/bin/google-chrome
